/* CSS Style Sheet for Crazy Bob's website */

/* Global Style */
body{
    background-color:#000;
    margin:0;
    padding:0;
}

div#container{
    background-color:orange;
    width:1024px;
    /* Centers the Container */
    margin:auto;    
}

header{
    background-image:url(../images/pumpkins.jpg);
    background-position: right;
    background-size:1100px;
    background-color:saddlebrown;
    width:100%;
    height:150px;
    margin:0;
}

header h1 {
    text-align:center;
    padding-top:50px;
    color:#f5ebb3;
    text-shadow:2px 2px 1px black;
    margin:0;
    font-family: 'Pangolin', cursive;
/*    font-family: 'Wendy One', sans-serif;*/
    font-size:50px;

}

nav {
    width:100%;
    background-color:#714b05;
    clear:both;
    margin:0;
    font-family:sans-serif;
    font-size:14px;
    box-shadow:3px 3px 3px #000000;
    
}

nav ul{
  margin:0;
  padding:0;    
  overflow:hidden;
  list-style:none;    
}

nav ul li {
    float:left;
}

nav ul li a{
    display:block;
    color:white;
    text-align:center;
    text-decoration:none;
    padding: 14px 16px;
}

nav ul li a:hover{
    background-color:blueviolet;
}

.active{
    background-color:darkorange;
}

footer{
    width:100%;
    background-color:#000;
    color:orange;
    text-align:center;
    padding:20px 0;
}

.keepOpen{
    clear:both;
}

/* index.html */
img#home-img{
    width:400px;
    display:block;
    margin:15px;
    border:5px outset brown;
    float:left;
}

h2#h2-home{
    float:left;
    margin-top:10px;
    margin-bottom:0;
    font-family: 'Wendy One', sans-serif;
}

p#p-home{
    float:left;
    width:56%;
    margin-top:10px;
}
/* about.html */
img#about-img{
    width:400px;
    display:block;
    margin:15px;
    border:5px outset brown;
    float:left;
}

h2#h2-about{
    float:left;
    margin-top:10px;
    margin-bottom:0;
    font-family: 'Wendy One', sans-serif;
}

p#p-about{
    float:left;
    width:56%;
    margin-top:10px;
}
/* Produce.html */

div#gallery{
    width:100%;
    border:3px dotted green;
}

figure{
    width:250px;
    float:left;
    background-color:#f8c66a;
    box-shadow:2px 2px 10px #000;
    background: -moz-linear-gradient(#ff7600, #714b05); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff7600, #f8d303);  /*Standard syntax */
}

figure img{
    display:block;
    width:200px;
    margin:18px auto;
    border:1px solid #905d00;
}

figcaption{
    text-align:center;
    padding-bottom: 10px;
    font-family:sans-serif;
    font-size:14px;
}


































