/* Stylesheet for social media website */

/* CSS Reset */
html, body, div, header, h1, h2, h3, h4, h5, h6, nav, ul, ol, li, p, footer{
    margin:0;
    padding:0;
}

html 
{
  min-height: 100%;
} 

body{
/*
    background-color: darkgray;
    background-image:url("/media/images/winter.jpg");
*/
    background: #3f4c6b;
    background: -moz-linear-gradient(top, #3f4c6b 1%, #283244 100%);
    background: -webkit-linear-gradient(top, #3f4c6b 1%,#283244 100%);
    background: linear-gradient(to bottom, #3f4c6b 1%,#283244 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#283244',GradientType=0 );
    background-repeat:no-repeat;
/*    background-position: center;*/
    background-size:auto auto;
    font-family:sans-serif;
}

div#container{
    display:flex;
    flex-flow: column;
    flex-direction: row;
    flex-wrap: wrap;
    max-width:1024px;
    width:80%;
    margin:auto;    
}

header{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color:azure;
    background-image:url("/media/images/blue-ice.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover contain;
    width:100%;
    height:300px;
}

header img#profile_img{
    display:block;    
    width: 200px;
    height: 200px;   
    border-radius:100%;
    background-color:#cecece;
    align-self:flex-end;
    margin: 8px 16px;
}

header div#profile_info{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: flex-end;
    margin-left:32px;
}

div#profile_info h2{

    width:100%;
    order:1;
    font-size:2em;
}

div#profile_info h4{
   width:100%;
   order:2;
   font-size:1em;
}

/* Navigation Start */
nav{
   width:15%;
   margin:10px 0 0 90px;
   order:1;    
}

nav ul{
    list-style: none;
}

nav li{
    
}

nav li a{
  text-decoration: none;
  font-family:sans-serif;
  color:#fff;    
}

nav li a:hover{
    color:#a9f7f7;
}
/* Navigation End */


div#content{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-flow: column;
    width:75%;
    height: auto;
    order:2;
}

div#content div.post{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin:6px auto;
    width:100%;
    height:auto;
    background-color:#fff;
    box-shadow: 2px 2px 2px black;
    
}
div#content div.post img.ppp{
    display:block;
    order: 1;
    margin:6px;
    background-color:lightgray;
    width:120px;
    height:120px;
    
}

div#content div.post-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    order:2;
    width:75%;
}

div#content div.post h3.pnp{
    order:1;
    width:60%;
    height:10%;
    margin:6px 0;
}

div#content div.post p.time-stamp{
    order:2;
    font-size:0.8em; 
    font-weight:600;
    color:gray;
}

div#content div.post p.post-body{
    order:3;
    margin:6px 0;
}

div#content div.post div.post-foot{
    display:flex;
    order:3;
    flex-direction: column;
    width:100%;
    
    
}

div#content div.post div.post-foot div.p-comments{
    display: flex;
    flex:1 1 auto;
    flex-wrap: wrap;
    flex-direction:column;
    order:1;
    margin:6px;
}
/*Comment Title H5*/
div#content div.post div.post-foot div.p-comments h5{
    flex: 100 1 auto;
    flex-wrap: wrap;    
    order:1;
}
/* Comment Picture*/
div#content div.post div.post-foot div.p-comments .com-pic{
    flex:100;
    order:2;
    border-radius:100px;
    width:50px;
}
/* Comment Paragraph*/
div#content div.post div.post-foot div.p-comments .com-p{
    order:3;
}

div#content div.post div.post-foot div.p-likes{
    order:2;
    margin:6px;
    color:darkgray;
}

footer{
    order:3;
    width:100%;
    text-align: center;
    color:#fff;
    margin:12px 
        
}














