/* Style for Mr. Powell's blog website */

/* Reset */
html,body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li{
  margin: 0;
  padding:0;    
}

/* Universal Style */

body{
    background-color: darkgray;
}

div#container{
    display: flex;
    flex-direction: column;
    margin:auto;
    width:100%;
    background-color: #ffffff;    
}

header#blog-head{
    width:100%;
    height:300px;
    font-family:sans-serif;
    text-align:center;
    background-color: #a9ccd9;
}

/* Blog Post */
div#blog-post{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    margin:15px 0;
    padding:10px;
    background-color:#d8d8d8;
    box-shadow: 3px 3px 3px #535353;
}
img#post-img{
    align-self:auto;
    display: block;
    margin:5px;
    width:150px;
    height:150px;
    background-color: aliceblue;
}

div#post-body{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin:0 5px;
}

h2#post-title{
    align-self:auto;
}

h5#post-stamp{
    color:#535353;
}

p#post-text{
    font-size:1.15em;
}























